<footer class="footer" style="background-color: #03989E;">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
        <p class="text-white">All rights - 2023</p>
        </div>
        <div class="col-md-6">
        <ul class="list-inline text-right">
            <li class="list-inline-item">
            <a href="#https://www.linkedin.com/company/eggcooperation/" target="_blank"><i class="fab fa-linkedin text-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
            <a href="#https://www.facebook.com/EggCooperation" target="_blank"><i class="fab fa-facebook text-facebook"></i></a>
            </li>
            <li class="list-inline-item">
            <a href="#https://www.instagram.com/eggcooperation/" target="_blank"><i class="fab fa-instagram text-instagram"></i></a>
            </li>
        </ul>
        </div>
    </div>
    </div>
</footer>