<footer class="footer d-flex flex-wrap justify-content-between align-items-center p-3">
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-white">&copy; 2023 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/company/eggcooperation/"><svg
                    class="bi f-icon footer-icon">
                    <use xlink:href="#linkedin" />
                </svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/eggcooperation/"><svg
                    class="bi f-icon footer-icon">
                    <use xlink:href="#instagram" />
                </svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/EggCooperation"><svg
                    class="bi f-icon footer-icon">
                    <use xlink:href="#facebook" />
                </svg></a></li>
    </ul>
</footer>