<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./img/LogoSaludApp.png" alt="Logo" class="navbar-logo">
      </a>
      <!------------- Logout ------------->
      <div class="navbar-profile ms-auto dropdown text-end" th:if="${session.usuariosession != null}">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img id="profile-image" th:src="${session.usuariosession.imagen}" alt="imagen de perfil" width="50"
            class="rounded-circle" />
        </a>
        <p th:text="${session.usuariosession.nombre}"></p>
        <ul id="profile-menu" class="profile-menu dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
        </ul>
      </div>
    </div>
  </nav>