/*------------- Index -------------*/
.btn-custom {
    background-color: #03989E;
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #01767a;
    color: #ffffff;
}

/*------------- Navbar -------------*/
.navbar-logo {
    max-height: 30px;
}

/*------------- Form -------------*/
.custom-form {
    max-width: 400px;
    padding: 20px;
    border: 2px solid #03989E;
    border-radius: 5px;
}

/*------------- Footer -------------*/
.text-linkedin {
    color: #fff;
}

.text-facebook {
    color: #fff;
}

.text-instagram {
    color: #fff;
}

/*------------- Ordenar -------------*/
.sortable-header {
    position: relative;
    cursor: pointer;
}

.sort-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.sort-indicator .arrow-up,
.sort-indicator .arrow-down {
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.sort-indicator .arrow-up {
    border-bottom: 5px solid rgb(60, 60, 60);
    margin-bottom: 2px;
}

.sort-indicator .arrow-down {
    border-top: 5px solid rgb(60, 60, 60);
    margin-top: 2px;
}

/*------------- Estrella -------------*/
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

.attribution {
    font-size: 12px;
    color: #444;
    text-decoration: none;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: -1;
}

.attribution:hover {
    color: #1fa67a;
}