<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head  :: head"></head>

<body>
  <!------------- Navbar ------------->
  <nav th:replace="/fragments/navbar  :: nav" sec:authorize="hasAnyRole('PACIENTE')"></nav>

  <div class="main">
    <!------------- Historia clinica ------------->
    <div class="card" style="width: 18rem;" th:each="consulta : ${consultas}">
        <div class="card-body">
            <li th:text="${consulta.fechaConsulta}" class="list-group-item"></li>
            <li th:text="${consulta.horario}" class="list-group-item"></li>
        </div>
        <div class="card-body">
         <h5 class="card-title" th:text="${consulta.paciente.nombre + ' ' +consulta.paciente.apellido}"></h5>
        <p th:text="${consulta.detalleConsulta}" class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item" th:text="${consulta.modalidad}"></li>
        <li class="list-group-item" th:text="${consulta.obrasocial}"></li>
        <li class="list-group-item" th:text="${consulta.precioConsulta}"></li>
        </ul>
        <div class="card-body">
            <a href="#" class="btn btn-custom m-2">Ver estudios médicos</a>
            <a href="#" class="btn btn-custom m-2">Descargar estudios médicos</a>
          </div>
    </div>    
  </div>

  <!------------- Footer -------------->
  <footer th:replace="/fragments/footer  :: footer"></footer>
</body>
</html>