<head th:replace="/fragments/head  :: head"></head>

<body>
  <!------------- Navbar ------------->
  <nav th:replace="/fragments/navbar  :: nav" sec:authorize="hasAnyRole('PACIENTE')"></nav>

  <div class="main">
    <!------------- Perfil desplegable ------------->
    <div class="modal fade" id="perfilModal" tabindex="-1" role="dialog" aria-labelledby="perfilModalLabel"
    aria-hidden="true" sec:authorize="hasAnyRole('PACIENTE')">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="perfilModalLabel">Perfil de Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="m-5 usuario">
              <form th:action="@{/paciente/modificar}" method="POST" enctype="multipart/form-data"></form>
                <div class="parte1">
                  <div>
                    <img th:if="${session.usuariosession.imagen != null}" class="imagenPerfil"
                      th:src="@{/imagen/perfil/__${session.usuariosession.id}__}">
                    <img th:if="${session.usuariosession.imagen == null}" class="imagenPerfil" src="./img/indefinido.png">
                  </div>
                  <div>
                    <label class="btn btn-dark" for="editarFoto">
                      <svg class="bi f-icon">
                        <use xlink:href="#plus" />
                      </svg>
                      <input hidden type="file" id="editarFoto" name="archivo">
                  </div>
                </div>
                <table class="table table-hover custom-table">
                  <input hidden th:value="${session.usuariosession.id}" name="idUsuario">
                  <input hidden th:value="${session.usuariosession.imagen}" name="archivo">
                  <tr scope="row">
                    <td>Nombre:</td>
                    <td>
                      <input type="text" th:value="${session.usuariosession.nombre}" class="form-control" name="nombre">
                    </td>
                  </tr>
                  <tr scope="row">
                    <td>Apellido:</td>
                    <td>
                      <input type="text" th:value="${session.usuariosession.apellido}" class="form-control"
                        name="apellido">
                    </td>
                  </tr>
                  <tr scope="row">
                    <td>Teléfono:</td>
                    <td>
                      <input type="text" th:value="${session.usuariosession.telefono}" class="form-control"
                        name="telefono">
                    </td>
                  </tr>
                  <tr scope="row">
                    <td>Correo electrónico:</td>
                    <td>
                      <input type="email" th:value="${session.usuariosession.email}" class="form-control" name="email">
                    </td>
                  </tr>
                  <tr scope="row">
                    <td>DNI:</td>
                    <td>
                      <input type="text" th:value="${session.usuariosession.dni}" class="form-control" name="dni">
                    </td>
                  </tr>
                  <tr scope="row">
                    <td>Fecha de nacimiento:</td>
                    <td>
                      <input type="date" th:value="${session.usuariosession.fechaNacimiento}" class="form-control fecha"
                        name="fechaNacimiento">
                    </td>
                  </tr>
                  <tr scope="row">
                    <td>Género:</td>
                    <td>
                      <select name="genero" class="form-select genero">
                        <option th:each="Genero : ${T(com.demo.saludApp.enumeraciones.Genero).values()}"
                          th:value="${Genero}" th:text="${Genero}" th:unless="${session.usuariosession.Genero == Genero}">
                        </option>
                        <option th:text="${session.usuariosession.Genero}" selected></option>
                      </select>
                    </td>
                  </tr>
                  <tr scope="row">
                    <td>Obra Social:</td>
                    <td>
                      <select name="obrasocial" class="form-select obraSocial">
                        <option th:each="ObraSocial : ${T(com.demo.saludApp.enumeraciones.ObraSocial).values()}"
                          th:value="${ObraSocial}" th:text="${ObraSocial}"
                          th:unless="${session.usuariosession.ObraSocial == ObraSocial}">
                        </option>
                        <option th:text="${session.usuariosession.ObraSocial}" selected></option>
                      </select>
                    </td>
                  </tr>
                  <tr scope="row">
                    <td>Darse de baja:</td>
                    <td>NO
                      <input th:if="${session.usuariosession.activo == true}" checked value="true" type="radio"
                        name="activo">
                      <input th:if="${session.usuariosession.activo != true}" value="true" type="radio" name="activo">
                      SI
                      <input th:if="${session.usuariosession.activo != true}" checked value="false" type="radio"
                        name="activo">
                      <input th:if="${session.usuariosession.activo == true}" value="false" type="radio" name="activo">
                    </td>
                  </tr>
                </table>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-custom">Modificar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!------------- Historia Clinica ------------->
    <div class="container">
        <a class="btn btn-custom" th:href="@{/consulta/__${session.usuariosession.id}__}" method="GET" sec:authorize="hasAnyRole('PACIENTE')">Ver</a>
    </div>

    <!------------- Mis Consultas ------------->
    <div class="container mt-5" sec:authorize="hasAnyRole('PACIENTE')">
      <h1>Mis Consultas</h1>
      <table class="table tablaFiltro table-hover custom-table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Especialidad
              <select name="especialidad" class="form-select especialidad filtro-especialidad "
                onchange="filtrarTabla('especialidad')">
                <option th:each="especialidad : ${T(com.demo.saludApp.enumeraciones.Especialidad).values()}"
                  th:value="${especialidad}" th:text="${especialidad}">
                </option>
              </select>
            </th>
            <th scope="col">Fecha</th>
            <th scope="col" class="text-center">Horario
              <select name="horario" class="form-select filtro-horario " onchange="filtrarTabla('horario')">
                <option th:each="horario : ${T(com.demo.saludApp.enumeraciones.Horario).values()}"
                  th:value="${horario.texto}" th:text="${horario.texto}">
                </option>
              </select>
            </th>
            <th scope="col" class="text-center">Modalidad
              <select name="modalidad" class="form-select filtro-modalidad " onchange="filtrarTabla('modalidad')">
                <option th:each="modalidad : ${T(com.demo.saludApp.enumeraciones.Modalidad).values()}"
                  th:value="${modalidad}" th:text="${modalidad}">
                </option>
              </select>
            </th>
            <th scope="col">Precio</th>
            <th scope="col">Calificación</th>
            <th scope="col" class="text-center">Estado
              <select name="estado" class="form-select filtro-estado " onchange="filtrarTabla('estado')">
                <option th:each="estado : ${T(com.demo.saludApp.enumeraciones.Estado).values()}" th:value="${estado}"
                  th:text="${estado}">
                </option>
              </select>
            </th>
            <th scope="col" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody th:each="consulta : ${misconsultas}">
          <tr>
            <td scope="row" th:if="${consulta.profesional != null}" th:text="${consulta.profesional.nombre}">
            </td>
            <td scope="row" th:if="${consulta.profesional != null}" th:text="${consulta.profesional.apellido}">
            </td>
            <td class="filtro-especialidad" scope="row" th:if="${consulta.profesional != null}"
              th:text="${consulta.profesional.especialidad}"></td>
            <td scope="row" th:text="${consulta.fechaConsulta}"></td>
            <td class="filtro-horario" scope="row" th:text="${consulta.horario.texto}"></td>
            <td class="filtro-modalidad" scope="row" th:text="${consulta.modalidad}"></td>
            <td scope="row" th:text="${consulta.precioConsulta}"></td>
            <td scope="row" th:text="${consulta.profesional.calificacion}"></td>
            <td class="filtro-estado" scope="row" th:text="${consulta.estado}"></td>
            <td>
              <div th:if="${consulta.estado.toString == 'UTILIZADA'}">
                <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#calificar"
                data-paciente-id="${profesional.id}">Calificar</button>
              </div>
              <div th:if="${consulta.estado.toString == 'RESERVADA'}">
                <a class="btn btn-custom" th:href="@{/paciente/cancelar/__${consulta.id}__}">Cancelar turno</a>
              </div>             
            </td>
          </tr>

          <!------------- Formulario Calificar -------------->
          <div class="modal fade" id="calificar" tabindex="-1" role="dialog" aria-labelledby="calificarLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <form id="calificar-form" class="formulario" th:action="@{/paciente/calificar/__${consulta.profesional.id}__}" method="POST"
                      enctype="multipart/form-data">
                      <input type="hidden" name="id" th:if="${consulta.profesional != null}"
                        th:value="${consulta.profesional.id}">
                      <div class="form-group my-3 text-center">
                        <h4 class="mb-5">¿Con cuantas estrellas calificaría esta consulta?</h4>
                      </div>
                      <div class="stars">
                        <input class="star star-5" id="star-5" type="radio" name="calificacion" value="5">
                        <label class="star star-5" for="star-5">5</label>
                        <input class="star star-4" id="star-4" type="radio" name="calificacion" value="4">
                        <label class="star star-4" for="star-4">4</label>
                        <input class="star star-3" id="star-3" type="radio" name="calificacion" value="3">
                        <label class="star star-3" for="star-3">3</label>
                        <input class="star star-2" id="star-2" type="radio" name="calificacion" value="2">
                        <label class="star star-2" for="star-2">2</label>
                        <input class="star star-1" id="star-1" type="radio" name="calificacion" value="1">
                        <label class="star star-1" for="star-1">1</label>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-3 w-25 botones m-3">
                          Aceptar
                        </button>
                        <button type="button" class="btn btn-primary mt-3 w-25 cancelar m-3" data-bs-dismiss="modal">
                          Cancelar
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tbody>
      </table>
    </div>


    <!------------- Consultas Disponibles ------------->
    <div class="container mt-5">
      <h1>Consultas Disponibles</h1>
      <table class="table tablaFiltro table-hover custom-table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Especialidad
              <select name="especialidad" class="form-select especialidad filtro-especialidad "
                onchange="filtrarTabla('especialidad')">
                <option th:each="especialidad : ${T(com.demo.saludApp.enumeraciones.Especialidad).values()}"
                  th:value="${especialidad}" th:text="${especialidad}">
                </option>
              </select>
            </th>
            <th scope="col">Fecha</th>
            <th scope="col" class="text-center">Horario
              <select name="horario" class="form-select filtro-horario " onchange="filtrarTabla('horario')">
                <option th:each="horario : ${T(com.demo.saludApp.enumeraciones.Horario).values()}"
                  th:value="${horario.texto}" th:text="${horario.texto}">
                </option>
              </select>
            </th>
            <th scope="col" class="text-center">Modalidad
              <select name="modalidad" class="form-select filtro-modalidad " onchange="filtrarTabla('modalidad')">
                <option th:each="modalidad : ${T(com.demo.saludApp.enumeraciones.Modalidad).values()}"
                  th:value="${modalidad}" th:text="${modalidad}">
                </option>
              </select>
            </th>
            <th scope="col">Precio</th>
            <th scope="col">Calificación</th>
            <th scope="col" class="text-center">Estado
              <select name="estado" class="form-select filtro-estado " onchange="filtrarTabla('estado')">
                <option th:each="estado : ${T(com.demo.saludApp.enumeraciones.Estado).values()}" th:value="${estado}"
                  th:text="${estado}">
                </option>
              </select>
            </th>
            <th scope="col" class="text-center" sec:authorize="hasAnyRole('PACIENTE')">Acciones</th>
          </tr>
        </thead>  
        <tbody th:each="consulta : ${consultas}">
          <tr>
            <td scope="row" th:if="${consulta.profesional != null}" th:text="${consulta.profesional.nombre}">
            </td>
            <td scope="row" th:if="${consulta.profesional != null}" th:text="${consulta.profesional.apellido}">
            </td>
            <td class="filtro-especialidad" scope="row" th:if="${consulta.profesional != null}"
              th:text="${consulta.profesional.especialidad}"></td>
            <td scope="row" th:text="${consulta.fechaConsulta}"></td>
            <td class="filtro-horario" scope="row" th:text="${consulta.horario.texto}"></td>
            <td class="filtro-modalidad" scope="row" th:text="${consulta.modalidad}"></td>
            <td scope="row" th:text="${consulta.precioConsulta}"></td>
            <td scope="row" th:text="${consulta.profesional.calificacion}"></td>
            <td class="filtro-estado" scope="row" th:text="${consulta.estado}"></td>
            <td>
              <a class="btn btn-custom" sec:authorize="hasAnyRole('PACIENTE')" th:href="@{/paciente/reservar/__${consulta.id}__}">Agendar
                Turno</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!------------- Footer -------------->
  <footer th:replace="/fragments/footer  :: footer"></footer>
</body>
</html>