<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head  :: head"></head>
<body>
  <!------------- Navbar------------->
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="./img/LogoSaludApp.png" alt="Logo" class="navbar-logo">
      <!------------- Logout------------->
      <li class="nav-item dropdown" th:if="${session.usuariosession != null}">
        <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
      </li>
    </a>
  </nav>
  <!------------- Tabla Profesionales ------------->
  <div class="container mt-5">
    <h1>Profesionales</h1>
    <table class="table custom-form">
      <thead>
        <tr>
          <th></th>
          <th>Matricula</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Locación</th>
          <th>
            <select name="especialidad" class="especialidad" onchange="filtrarTabla()">
              <option th:each="especialidad : ${T(com.demo.saludApp.enumeraciones.Especialidad).values()}"
                th:value="${especialidad}" th:text="${especialidad}">
              </option>
            </select>
          </th>
          <th class="sortable">
            <div class="sortable-header" data-column-index="2">
              <div>Calificación</div>
              <div class="sort-indicator">
                <span class="arrow-up"></span>
                <span class="arrow-down"></span>
              </div>
            </div>
          </th>
          <th>Turnos</th>
        </tr>
      </thead>
      <tbody th:each="$profesional : ${profesional}">
        <tr>
          <td th:src="${profesional.imagen}"></td>
          <td th:text="${profesional.matricula}"></td>
          <td th:text="${profesional.nombre}"></td>
          <td th:text="${profesional.apellido}"></td>
          <td th:text="${profesional.email}"></td>
          <td th:text="${profesional.locacion}"></td>
          <td th:text="${profesional.especialidad}"></td>
          <td th:value="${profesional.calificacion}">
            <div class="stars-outer">
              <div class="stars-inner"></div>
            </div>
          </td>
          <td>
            <button class="btn-custom">Agendar Turno</button>
          </td>
      </tbody>
    </table>
    <a class="attribution" href="http://fontawesome.io/"><i class="fa fa-font-awesome"></i> fontawesome.io</a>
  </div>
  <!------------- Footer ------------->
  <footer th:replace="/fragments/footer  :: footer"></footer>
</body>
</html>