<head th:replace="/fragments/head  :: head"></head>

<body>
  <!------------- Navbar ------------->
  <nav th:replace="/fragments/navbar  :: nav"></nav>
  <main class="d-flex flex-nowrap">
    <!------------- SideBar ------------->
    <div class="d-flex flex-column flex-shrink-0 sidebar" style="width: 200px;">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link btn-custom2" data-bs-toggle="collapse" href="#perfilContent" role="button" aria-expanded="false" aria-controls="perfilContent">      
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            Perfil 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-custom2" data-bs-toggle="modal" data-bs-target="#descripcionModal">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            Agregar Descripción
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-custom2" data-bs-toggle="modal" data-bs-target="#consultaModal">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
            Crear Consulta
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-custom2" data-bs-toggle="collapse" href="#calendarioContent" role="button" aria-expanded="false" aria-controls="calendarioContent">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
            Calendario
          </a>
        </li>
      </ul>
      <hr>
    </div>
    <!------------- Cuerpo ------------->
    <div class="container">
      <div class="row">
          <br>
            <h2 th:text="'Bienvenido/a '+ ${session.usuariosession.nombre}" class="text-center"></h2>
        <div class="col">
          <!------------- Perfil desplegable ------------->
          <div class="container mt-5 collapse" id="perfilContent">
            <form th:action="@{/profesional/modificar}" method="POST" enctype="multipart/form-data"></form>
              <div class="d-flex">
                <div class="position-relative mx-5">
                  <img th:if="${session.usuariosession.imagen != null}" class="imagenPerfil" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}">
                  <img th:if="${session.usuariosession.imagen == null}" class="imagenPerfil" src="./img/indefinido.png">
                  <div class="position-absolute top-1 end-0">
                    <label class="btn btn-dark" for="editarFoto">
                      <svg class="bi f-icon">
                        <use xlink:href="#plus" />
                      </svg>
                      <input hidden type="file" id="editarFoto" name="archivo">
                    </label>
                  </div>
                </div>
                <table class="table table-hover custom-table"> 
                    <input hidden th:value="${session.usuariosession.id}" name="idUsuario">
                    <input hidden th:value="${session.usuariosession.imagen}" name="archivo">
                    <tr scope="row">
                      <td>Nombre:</td>
                      <td>
                        <input type="text" th:value="${session.usuariosession.nombre}" class="form-control" name="nombre">
                      </td>
                    </tr>
                    <tr scope="row">
                      <td>Apellido:</td>
                      <td>
                        <input type="text" th:value="${session.usuariosession.apellido}" class="form-control"
                          name="apellido">
                      </td>
                    </tr>
                    <tr scope="row">
                      <td>Teléfono:</td>
                      <td>
                        <input type="text" th:value="${session.usuariosession.telefono}" class="form-control"
                          name="telefono">
                      </td>
                    </tr>
                    <tr scope="row">
                      <td>Correo electrónico:</td>
                      <td>
                        <input type="email" th:value="${session.usuariosession.email}" class="form-control" name="email">
                      </td>
                    </tr>
                    <tr scope="row">
                      <td>Matricula:</td>
                      <td>
                        <input type="text" th:value="${session.usuariosession.matricula}" class="form-control"
                          name="matricula">
                      </td>
                    </tr>
                    <tr scope="row">
                      <td>Locacion:</td>
                      <td>
                        <input type="date" th:value="${session.usuariosession.locacion}" class="form-control"
                          name="locacion">
                      </td>
                    </tr>
                    <tr scope="row">
                      <td>Especialidad:</td>
                      <td>
                        <select name="especialidad" class="form-select especialidad">
                          <option th:each="especialidad : ${T(com.demo.saludApp.enumeraciones.Especialidad).values()}"
                            th:value="${especialidad}" th:text="${especialidad}"
                            th:unless="${session.usuariosession.especialidad == especialidad}">
                          </option>
                          <option th:text="${session.usuariosession.especialidad}" selected></option>
                        </select>
                      </td>
                    </tr>
                    <tr scope="row">
                      <td>Darse de baja:</td>
                      <td>NO
                        <input th:if="${session.usuariosession.activo == true}" checked value="true" type="radio"
                          name="activo">
                        <input th:if="${session.usuariosession.activo != true}" value="true" type="radio" name="activo">
                        SI
                        <input th:if="${session.usuariosession.activo != true}" checked value="false" type="radio"
                          name="activo">
                        <input th:if="${session.usuariosession.activo == true}" value="false" type="radio" name="activo">
                      </td>
                    </tr>
                </table>
              </div>
              <div class="text-end mt-3">
                <a class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#passwordModal">Cambiar Contraseña</a>
                <button type="submit" class="btn btn-custom">Modificar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="main mx-5">  
            <!------------- Tabla Consultas ------------->
            <div class="container mt-5" id="calendarioContent">
              <h1>Consultas</h1>
              <table class="table table-hover text-center custom-table">
                <thead>
                  <tr>
                    <th class="anchoColumna" scope="col">Nombre</th>
                    <th class="anchoColumna" scope="col">Apellido</th>
                    <th class="anchoColumna" scope="col">Fecha</th>
                    <th class="anchoColumna" scope="col">Horario</th>
                    <th class="anchoColumna" scope="col">Modalidad</th>
                    <th class="anchoColumna" scope="col">Detalles</th>
                    <th class="anchoColumna" scope="col">Estudios</th>
                    <th class="anchoColumna" scope="col">Estado</th>
                    <th class="anchoColumna" scope="col">Historia Clínica</th>
                    <th class="anchoColumna" scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody th:each="consulta : ${consultas}">
                  <tr>
                    <td scope="row" th:if="${consulta.paciente != null}" th:text="${consulta.paciente.nombre}"></td>
                    <td scope="row" th:if="${consulta.paciente != null}" th:text="${consulta.paciente.apellido}"></td>
                    <td scope="row" th:if="${consulta.paciente == null}">-</td>
                    <td scope="row" th:if="${consulta.paciente == null}">-</td>
                    <td scope="row" th:text="${consulta.fechaConsulta}"></td>
                    <td scope="row" th:text="${consulta.horario.texto}"></td>
                    <td scope="row" th:text="${consulta.modalidad}"></td>
                    <td scope="row" th:text="${consulta.detalleConsulta}"></td>
                    <td scope="row">
                      <div th:if="${consulta.estudios != null}">
                        <div th:each="estudio : ${consulta.estudios}">     
                          <img class="imagenEstudio" th:src="@{/imagen/estudio/__${consulta.id}__/__${estudio.id}__}">
                        </div>
                      </div>
                      <div th:if="${consulta.estudios == null}">
                        <span>Sin estudios</span>
                      </div>
                    </td>
                    <td scope="row" th:text="${consulta.estado}"></td>
                    <td>
                      <a class="btn btn-custom" th:if="${consulta.paciente != null}" th:href="@{/__${consulta.paciente.id}__}">Ver</a>
                    </td>
                    <td scope="row">
                      <div class="d-flex justify-content-around w-100">
                        <div th:if="${consulta.estado.toString == 'DISPONIBLE'}">
                          <a class="btn btn-custom btn-cancelar" th:href="@{/profesional/modificarConsulta/eliminar/__${consulta.id}__}" >Eliminar</a>           
                        </div>
                        <div th:if="${consulta.estado.toString == 'RESERVADA'}" class="d-flex justify-content-around w-100">
                          <a class="btn btn-custom" th:href="@{/profesional/modificarConsulta/iniciar/__${consulta.id}__}">Iniciar</a>
                          <a class="btn btn-custom btn-cancelar" th:href="@{/profesional/modificarConsulta/cancelar/__${consulta.id}__}">Cancelar</a>
                        </div>
                        <div th:if="${consulta.estado.toString == 'UTILIZADA'}">
                          <button type="button" class="btn btn-custom" data-bs-toggle="modal" th:data-bs-target="'#cargarModal'+${consulta.id}">Cargar</button>
                            <!------------- Modal del boton "Cargar" ------------->
                            <div class="modal fade" th:id="'cargarModal'+${consulta.id}" tabindex="-1" role="dialog" aria-labelledby="cargarModalLabel"
                            aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <img src="./img/LogoSaludApp.png" alt="Logo" class="navbar-logo">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form class="custom-form" th:action="@{/profesional/modificarConsulta/cargar/__${consulta.id}__}" method="POST" enctype="multipart/form-data">
                                      <h1 class="h3 mb-3 fw-normal">Cargar Consulta</h1>
                                      <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInput" th:value="${consulta.paciente.nombre}" disabled>
                                        <label for="floatingInput">Nombre</label>
                                      </div>
                                      <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInput" th:value="${consulta.paciente.apellido}" disabled>
                                        <label for="floatingInput">Apellido</label>
                                      </div>
                                      <div class="form-floating">
                                        <input type="date" class="form-control" id="floatingInput" th:value="${consulta.fechaConsulta}" disabled>
                                        <label for="floatingInput">Fecha</label>
                                      </div>
                                      <div class="form-floating">
                                        <select class="form-control" id="floatingInput" name="horario" disabled>
                                          <option th:each="horario : ${T(com.demo.saludApp.enumeraciones.Horario).values()}" th:value="${horario}"
                                            th:text="${horario}">
                                          </option>
                                        </select>
                                        <label for="floatingInput">Horario</label>
                                      </div>
                                      <div class="form-floating">
                                        <select class="form-control" id="floatingInput" name="modalidad" disabled>
                                          <option th:each="modalidad : ${T(com.demo.saludApp.enumeraciones.Modalidad).values()}"
                                            th:value="${modalidad}" th:text="${modalidad}">
                                          </option>
                                        </select>
                                        <label for="floatingInput">Modalidad</label>
                                      </div>
                                      <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingInput" th:value="${consulta.precioConsulta}" disabled>
                                        <label for="floatingInput">Precio</label>
                                      </div>
                                      <div class="form-floating">
                                        <textarea type="text" class="form-control" name="detalleConsulta" id="floatingInput" style="height: 100px"></textarea>
                                        <label for="floatingInput">Detalles</label>
                                      </div>
                                      <div class="form-floating">
                                        <input type="file" class="form-control" id="floatingInput" name="estudios" multiple>
                                        <label for="floatingInput">Estudios</label>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-custom">Guardar</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div> 
                      </div>
                    </td>  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!------------- Modal Descripción ------------->
  <div class="modal fade" id="descripcionModal" tabindex="-1" role="dialog" aria-labelledby="descripcionModallLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="./img/LogoSaludApp.png" alt="Logo" class="navbar-logo">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="custom-form" th:action="@{/profesional/descripcion}" method="POST" enctype="multipart/form-data">
            <h1 class="h3 mb-3 fw-normal">Descripción</h1>
            <input hidden th:value="${session.usuariosession.id}" name="idUsuario">
            <div class="form-floating mb-3">
              <textarea type="text" class="form-control" name="detalleEspecialidad" id="floatingInput" style="height: 100px" required></textarea>
              <label for="floatingInput">Descripción</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-custom">Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!------------- Modal Crear Consulta ------------->
  <div class="modal fade" id="consultaModal" tabindex="-1" role="dialog" aria-labelledby="consultaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="./img/LogoSaludApp.png" alt="Logo" class="navbar-logo">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="custom-form" th:action="@{/profesional/registro}" method="POST" enctype="multipart/form-data">
            <h1 class="h3 mb-3 fw-normal">Crear Consulta</h1>
            <div class="mb-3">
              <label for="fecha" class="form-label">Fecha</label>
              <input type="date" class="form-control" id="fecha" name="fecha" required>
            </div>
            <div class="mb-3">
              <label for="horario" class="form-label">Horario</label>
              <select class="form-control" id="horario" name="horario" required>
                <option th:each="horario : ${T(com.demo.saludApp.enumeraciones.Horario).values()}" th:value="${horario}"
                  th:text="${horario.texto}">
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="modalidad" class="form-label">Modalidad</label>
              <select class="form-control" id="modalidad" name="modalidad" required>
                <option th:each="modalidad : ${T(com.demo.saludApp.enumeraciones.Modalidad).values()}"
                  th:value="${modalidad}" th:text="${modalidad}">
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input type="number" class="form-control" id="precio" name="precio" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-custom">Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!------------- Footer ------------->
  <footer th:replace="/fragments/footer  :: footer"></footer>
</body>

</html>